<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
  </head>
  <body>
    <h1 class="text-center">Dives</h1>

    <form action="/dives/createDive" method="POST">
      <input type="text" placeholder="Enter location" name="location" />
      <input type="text" placeholder="Enter date" name="date" />
      <input type="text" placeholder="Enter depth" name="depth" />
      <textarea
        placeholder="Enter your notes"
        name="notes"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" />
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </body>
</html>
